// Material Design Color Palette
$color-stack:
		(group: white, id: 500, color: #ffffff),
		(group: black, id: 500, color: #000000),
		(group: red, id: 50, color: #ffebee),
		(group: red, id: 100, color: #ffcdd2),
		(group: red, id: 200, color: #ef9a9a),
		(group: red, id: 300, color: #e57373),
		(group: red, id: 400, color: #ef5350),
		(group: red, id: 500, color: #f44336),
		(group: red, id: 600, color: #e53935),
		(group: red, id: 700, color: #d32f2f),
		(group: red, id: 800, color: #c62828),
		(group: red, id: 900, color: #b71c1c),
		(group: pink, id: 50, color: #fce4ec),
		(group: pink, id: 100, color: #f8bbd0),
		(group: pink, id: 200, color: #f48fb1),
		(group: pink, id: 300, color: #f06292),
		(group: pink, id: 400, color: #ec407a),
		(group: pink, id: 500, color: #e91e63),
		(group: pink, id: 600, color: #d81b60),
		(group: pink, id: 700, color: #c2185b),
		(group: pink, id: 800, color: #ad1457),
		(group: pink, id: 900, color: #880e4f),
		(group: purple, id: 50, color: #f3e5f5),
		(group: purple, id: 100, color: #e1bee7),
		(group: purple, id: 200, color: #ce93d8),
		(group: purple, id: 300, color: #ba68c8),
		(group: purple, id: 400, color: #ab47bc),
		(group: purple, id: 500, color: #9c27b0),
		(group: purple, id: 600, color: #8e24aa),
		(group: purple, id: 700, color: #7b1fa2),
		(group: purple, id: 800, color: #6a1b9a),
		(group: purple, id: 900, color: #4a148c),
		(group: deep-purple, id: 50, color: #ede7f6),
		(group: deep-purple, id: 100, color: #d1c4e9),
		(group: deep-purple, id: 200, color: #b39ddb),
		(group: deep-purple, id: 300, color: #9575cd),
		(group: deep-purple, id: 400, color: #7e57c2),
		(group: deep-purple, id: 500, color: #673ab7),
		(group: deep-purple, id: 600, color: #5e35b1),
		(group: deep-purple, id: 700, color: #512da8),
		(group: deep-purple, id: 800, color: #4527a0),
		(group: deep-purple, id: 900, color: #311b92),
		(group: indigo, id: 50 , color: #e8eaf6),
		(group: indigo, id: 100, color: #c5cae9),
		(group: indigo, id: 200, color: #9fa8da),
		(group: indigo, id: 300, color: #7986cb),
		(group: indigo, id: 400, color: #5c6bc0),
		(group: indigo, id: 500, color: #3f51b5),
		(group: indigo, id: 600, color: #3949ab),
		(group: indigo, id: 700, color: #303f9f),
		(group: indigo, id: 800, color: #283593),
		(group: indigo, id: 900, color: #1a237e),
		(group: blue, id: 50, color: #e3f2fd),
		(group: blue, id: 100, color: #bbdefb),
		(group: blue, id: 200, color: #90caf9),
		(group: blue, id: 300, color: #64b5f6),
		(group: blue, id: 400, color: #42a5f5),
		(group: blue, id: 500, color: #2196f3),
		(group: blue, id: 600, color: #1e88e5),
		(group: blue, id: 700, color: #1976d2),
		(group: blue, id: 800, color: #1565c0),
		(group: blue, id: 900, color: #0d47a1),
		(group: light-blue, id: 50, color: #e1f5fe),
		(group: light-blue, id: 100, color: #b3e5fc),
		(group: light-blue, id: 200, color: #81d4fa),
		(group: light-blue, id: 300, color: #4fc3f7),
		(group: light-blue, id: 400, color: #29b6f6),
		(group: light-blue, id: 500, color: #03a9f4),
		(group: light-blue, id: 600, color: #039be5),
		(group: light-blue, id: 700, color: #0288d1),
		(group: light-blue, id: 800, color: #0277bd),
		(group: light-blue, id: 900, color: #01579b),
		(group: cyan, id: 50, color: #e0f7fa),
		(group: cyan, id: 100, color: #b2ebf2),
		(group: cyan, id: 200, color: #80deea),
		(group: cyan, id: 300, color: #4dd0e1),
		(group: cyan, id: 400, color: #26c6da),
		(group: cyan, id: 500, color: #00bcd4),
		(group: cyan, id: 600, color: #00acc1),
		(group: cyan, id: 700, color: #0097a7),
		(group: cyan, id: 800, color: #00838f),
		(group: cyan, id: 900, color: #006064),
		(group: teal, id: 50, color: #e0f2f1),
		(group: teal, id: 100, color: #b2dfdb),
		(group: teal, id: 200, color: #80cbc4),
		(group: teal, id: 300, color: #4db6ac),
		(group: teal, id: 400, color: #26a69a),
		(group: teal, id: 500, color: #009688),
		(group: teal, id: 600, color: #00897b),
		(group: teal, id: 700, color: #00796b),
		(group: teal, id: 800, color: #00695c),
		(group: teal, id: 900, color: #004d40),
		(group: green, id: 50, color: #e8f5e9),
		(group: green, id: 100, color: #c8e6c9),
		(group: green, id: 200, color: #a5d6a7),
		(group: green, id: 300, color: #81c784),
		(group: green, id: 400, color: #66bb6a),
		(group: green, id: 500, color: #4caf50),
		(group: green, id: 600, color: #43a047),
		(group: green, id: 700, color: #388e3c),
		(group: green, id: 800, color: #2e7d32),
		(group: green, id: 900, color: #1b5e20),
		(group: light-green, id: 50, color: #f1f8e9),
		(group: light-green, id: 100, color: #dcedc8),
		(group: light-green, id: 200, color: #c5e1a5),
		(group: light-green, id: 300, color: #aed581),
		(group: light-green, id: 400, color: #9ccc65),
		(group: light-green, id: 500, color: #8bc34a),
		(group: light-green, id: 600, color: #7cb342),
		(group: light-green, id: 700, color: #689f38),
		(group: light-green, id: 800, color: #558b2f),
		(group: light-green, id: 900, color: #33691e),
		(group: lime, id: 50, color: #f9fbe7),
		(group: lime, id: 100, color: #f0f4c3),
		(group: lime, id: 200, color: #e6ee9c),
		(group: lime, id: 300, color: #dce775),
		(group: lime, id: 400, color: #d4e157),
		(group: lime, id: 500, color: #cddc39),
		(group: lime, id: 600, color: #c0ca33),
		(group: lime, id: 700, color: #afb42b),
		(group: lime, id: 800, color: #9e9d24),
		(group: lime, id: 900, color: #827717),
		(group: yellow, id: 50, color: #fffde7),
		(group: yellow, id: 100, color: #fff9c4),
		(group: yellow, id: 200, color: #fff59d),
		(group: yellow, id: 300, color: #fff176),
		(group: yellow, id: 400, color: #ffee58),
		(group: yellow, id: 500, color: #ffeb3b),
		(group: yellow, id: 600, color: #fdd835),
		(group: yellow, id: 700, color: #fbc02d),
		(group: yellow, id: 800, color: #f9a825),
		(group: yellow, id: 900, color: #f57f17),
		(group: amber, id: 50, color: #fff8e1),
		(group: amber, id: 100, color: #ffecb3),
		(group: amber, id: 200, color: #ffe082),
		(group: amber, id: 300, color: #ffd54f),
		(group: amber, id: 400, color: #ffca28),
		(group: amber, id: 500, color: #ffc107),
		(group: amber, id: 600, color: #ffb300),
		(group: amber, id: 700, color: #ffa000),
		(group: amber, id: 800, color: #ff8f00),
		(group: amber, id: 900, color: #ff6f00),
		(group: orange, id: 50, color: #fff3e0),
		(group: orange, id: 100, color: #ffe0b2),
		(group: orange, id: 200, color: #ffcc80),
		(group: orange, id: 300, color: #ffb74d),
		(group: orange, id: 400, color: #ffa726),
		(group: orange, id: 500, color: #ff9800),
		(group: orange, id: 600, color: #fb8c00),
		(group: orange, id: 700, color: #f57c00),
		(group: orange, id: 800, color: #ef6c00),
		(group: orange, id: 900, color: #e65100),
		(group: deep-orange, id: 50, color: #fbe9e7),
		(group: deep-orange, id: 100, color: #ffccbc),
		(group: deep-orange, id: 200, color: #ffab91),
		(group: deep-orange, id: 300, color: #ff8a65),
		(group: deep-orange, id: 400, color: #ff7043),
		(group: deep-orange, id: 500, color: #ff5722),
		(group: deep-orange, id: 600, color: #f4511e),
		(group: deep-orange, id: 700, color: #e64a19),
		(group: deep-orange, id: 800, color: #d84315),
		(group: deep-orange, id: 900, color: #bf360c),
		(group: brown, id: 50, color: #efebe9),
		(group: brown, id: 100, color: #d7ccc8),
		(group: brown, id: 200, color: #bcaaa4),
		(group: brown, id: 300, color: #a1887f),
		(group: brown, id: 400, color: #8d6e63),
		(group: brown, id: 500, color: #795548),
		(group: brown, id: 600, color: #6d4c41),
		(group: brown, id: 700, color: #5d4037),
		(group: brown, id: 800, color: #4e342e),
		(group: brown, id: 900, color: #3e2723),
		(group: grey, id: 50, color: #fafafa),
		(group: grey, id: 100, color: #f5f5f5),
		(group: grey, id: 200, color: #eeeeee),
		(group: grey, id: 300, color: #e0e0e0),
		(group: grey, id: 400, color: #bdbdbd),
		(group: grey, id: 500, color: #9e9e9e),
		(group: grey, id: 600, color: #757575),
		(group: grey, id: 700, color: #616161),
		(group: grey, id: 800, color: #424242),
		(group: grey, id: 900, color: #212121),
		(group: blue-grey, id: 50, color: #eceff1),
		(group: blue-grey, id: 100, color: #cfd8dc),
		(group: blue-grey, id: 200, color: #b0bec5),
		(group: blue-grey, id: 300, color: #90a4ae),
		(group: blue-grey, id: 400, color: #78909c),
		(group: blue-grey, id: 500, color: #607d8b),
		(group: blue-grey, id: 600, color: #546e7a),
		(group: blue-grey, id: 700, color: #455a64),
		(group: blue-grey, id: 800, color: #37474f),
		(group: blue-grey, id: 900, color: #263238);

$browser-context: 16;

// Convert pixels to REM
@function rem($pixels, $context: $browser-context) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}

	@if (unitless($context)) {
		$context: $context * 1px;
	}

	@return ($pixels / $context) * 1rem;
}

@function material($group, $shade:500, $transparency:1) {
	@each $color in $color-stack {
		@if($group == map-get($color, group) and $shade == map-get($color, id)) {
			@return rgba(map-get($color, color), $transparency);
		}
	}
}

$color-stack-social:
		(group: linkedin, color: #0077b5),
		(group: facebook, color: #3b5998),
		(group: twitter, color: #1da1f2),
		(group: pinterest, color: #bd081c),
		(group: google, color: #dd4b39);

@function social($group, $transparency:1) {
	@each $color in $color-stack-social {
		@if($group == map-get($color, group)) {
			@return rgba(map-get($color, color), $transparency);
		}
	}
}
